<div id="homepage-header-img">
   <img src="{{ 'assets/img/apim-logo.svg' | relative_url }}" id="apim-logo-header" class="float-left">
   <hr style="border-top: 1px solid #fff; border-bottom: none; margin: 10px auto 0;" class="width-container" id="header-hr">
   <div id="homepage-intro">
      <h1 style="font-size: 32px;">aka.ms/apimlove</h1>
      A library of useful resources about Azure API Management.
      <br/><br/>
      <a href="{{ '/whats-new/' | relative_url }}"><button class="major-cta major-cta-tranpsparent">✨ Videos & Blogs ✨</button></a>
   </div>
</div>